/*-- scss:defaults --*/

$primary: #385898 !default;

/*-- scss:rules --*/

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    src: url("fonts/FiraSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    src: url("fonts/FiraSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    src: url("fonts/FiraSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    src: url("fonts/FiraSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    src: url("fonts/FiraSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: "Fira Sans";
    src: url("fonts/FiraSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-VF.woff2") format("woff2");
    font-weight: 100 800;
    font-style: normal;
}

pre,
code,
kbd,
samp {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-feature-settings: "calt", "liga";
}

/* Cover image shadow */
img.quarto-cover-image {
    border: 1px solid rgb(206, 212, 218);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

/* Unfixing font-smoothing */
body {
    -webkit-font-smoothing: auto;
}